@import './reset.css';


*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: system-ui;
    font-size: 16px;
    color: rgba(0,0,0,.84);
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px;
    top: 0;
    background: #fff;
    z-index: 1;
    border-width: 0 0 1px;
    border-color: #e4e4e4;
    border-style: solid;
}

header h1 {
    font-weight: 700;
    font-size: 2rem;
}
